* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Scoutie Sans", sans-serif;
}

/* Nav Bar customization */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 40);
    padding: 15px 30px;
}

.logo-container h1 {
    color: white;
}

.nav-list ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.nav-list ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#contact-link {
    background-color: rgb(47, 99, 255);
    padding: 4px 8px;
    border-radius: 10px;
}

.window {
    z-index: 10;
    position: absolute;

    width: 300px;
    height: 150px;
    left: 0;
    right: 0;
    margin: 100px auto;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

.not-show {
    display: none;
}

.show {
    display: block;
}

.window-header {
    display: flex;
    justify-content: space-between;    
    background-color: rgb(0, 0, 40);
}

.window-header p {
    padding-left: 5px;
    color: white;
}

#window-close {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 0px 2px;
}

.window-content {
    background-color: rgb(222, 218, 218);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Body Customization */
main {
    min-height: 100vh;
    background-color: rgb(245, 252, 255);
    
}

.titles {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 40px;
    gap: 15px;
}


.form-container{
    flex: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    padding: 20px 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-input {
    font-weight: bold;
}

#nombre-cliente,
#numero-pagina {
    padding: 4px 8px;
}

.extra-services{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.price {
    font-weight: bold;
}

button {
    border: none;
    border-radius: 6px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

#cotization-button {
    background-color: rgb(30, 64, 255);
    color: white;
}

aside {
    flex: 1;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    padding: 20px 40px;
}

.initial-info h2 {
    font-size: small;
}

.initial-info p {
    font-size: smaller;
    color: gray;
}


footer {
    background-color: rgb(0, 0, 40);
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-weight: bold;
}